---
import BlogCard from "@/components/BlogCard.astro";
import ImageMod from "@/components/ImageMod.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { slugify } from "@/lib/utils/textConverter";
import { render } from "astro:content";

// get all static paths for guests
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "guests";
  const guests = await getSinglePage(COLLECTION_FOLDER);

  const paths = guests.map((guest) => ({
    params: {
      single: guest.id,
    },
    props: { guest },
  }));
  return paths;
}

const { guest } = Astro.props;
const { title, social, meta_title, description, image } = guest.data;
const { Content } = await render(guest);

// get all posts by guest
const EPISODES_FOLDER = "episodes";
const episodes = await getSinglePage(EPISODES_FOLDER);
const postFilterByGuest = episodes.filter(
  (episode) => slugify(episode.data.guest) === slugify(title)
);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row justify-center border-b border-border pb-14 dark:border-darkmode-border"
      >
        <div class="text-left lg:col-8">
          {
            image && (
              <ImageMod
                src={image}
                class="mx-auto mb-10 rounded"
                height={200}
                width={200}
                alt={title}
                format="webp"
              />
            )
          }
          <h1 class="h1 text-center mb-6">{title}</h1>
          <div class="content">
            <Content />
          </div>
          <Social source={social} className="social-icons" />
        </div>
      </div>

      <div class="row justify-center pb-16 pt-14">
        {
          postFilterByGuest.map((episode) => (
            <div class="mb-12 md:col-6 lg:col-4">
              <BlogCard data={episode} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
